<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>588608200.04582202</real>
		<key>sheetClusters</key>
		<dict>
			<key>2019-05-29.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740806</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190426_Python机器学习实践指南_学习笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739995</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190510_大数据平台培训_刘伟_刘宝贤.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740102</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190510_性能测试知识.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740198</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190510_持续集成方案.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740305</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190510_接口测试相关知识.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740305</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190510_测试基本知识.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740198</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190514_CDH部署安装.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.347404</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190514_大数据学习之路.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.347404</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190514_大数据平台架构研发工作计划.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740496</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190515_CDH与Hadoop版本.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740496</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190515_Hadoop文档.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740603</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190515_傅腾参考.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740603</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190524_WordCount源码详解.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740698</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>20190529_SQL注入漏洞修复.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34740698</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CentOS 7 安装PostgreSQL教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739304</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Visual Studio Code SVN插件encoding问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739101</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>使用Hexo+Github搭建静态博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739196</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>写作方法 | 写出清晰简洁文章的8个原则.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739697</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>写作方法 | 用简单的白话把一件小事说清楚.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739697</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>国学 | 国学五经学习参考注解书单.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.347399</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>学习方法 | 关于如何知道做到的一点思考.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739399</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>工具 | pdf转ppt工具.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739804</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>数据库 | MySQL创建用户与分配权限.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739006</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>588608220.14765501</real>
				<key>lastModification</key>
				<real>588608220.14765501</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>正念的奇迹就是在大地上行走——《正念的奇迹》读书笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739006</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>笔记方法 | 如何高效的收藏文章——汽车人方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739494</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>育儿 | 如何引导孩子养成做家务的习惯.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739602</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>育儿 | 如何提高孩子的专注力.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739304</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>读书笔记 | 《好好学习：个人知识管理精进指南》（成甲）.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739494</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>读书笔记 | 《好好说话：新鲜有趣的话术精进技巧》（马东）.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.347399</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>软件 | Atom必备插件、主题与使用经验.md</key>
			<dict>
				<key>lastModification</key>
				<real>588607383.34739804</real>
				<key>version</key>
				<dict>
					<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>正念的奇迹就是在大地上行走——《正念的奇迹》读书笔记.md</string>
		</array>
		<array>
			<string>数据库 | MySQL创建用户与分配权限.md</string>
		</array>
		<array>
			<string>Visual Studio Code SVN插件encoding问题.md</string>
		</array>
		<array>
			<string>使用Hexo+Github搭建静态博客.md</string>
		</array>
		<array>
			<string>CentOS 7 安装PostgreSQL教程.md</string>
		</array>
		<array>
			<string>育儿 | 如何提高孩子的专注力.md</string>
		</array>
		<array>
			<string>学习方法 | 关于如何知道做到的一点思考.md</string>
		</array>
		<array>
			<string>笔记方法 | 如何高效的收藏文章——汽车人方法.md</string>
		</array>
		<array>
			<string>读书笔记 | 《好好学习：个人知识管理精进指南》（成甲）.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>育儿 | 如何引导孩子养成做家务的习惯.md</string>
		</array>
		<array>
			<string>写作方法 | 写出清晰简洁文章的8个原则.md</string>
		</array>
		<array>
			<string>写作方法 | 用简单的白话把一件小事说清楚.md</string>
		</array>
		<array>
			<string>软件 | Atom必备插件、主题与使用经验.md</string>
		</array>
		<array>
			<string>工具 | pdf转ppt工具.md</string>
		</array>
		<array>
			<string>国学 | 国学五经学习参考注解书单.md</string>
		</array>
		<array>
			<string>读书笔记 | 《好好说话：新鲜有趣的话术精进技巧》（马东）.md</string>
		</array>
		<array>
			<string>20190426_Python机器学习实践指南_学习笔记.md</string>
		</array>
		<array>
			<string>20190510_大数据平台培训_刘伟_刘宝贤.md</string>
		</array>
		<array>
			<string>20190510_测试基本知识.md</string>
		</array>
		<array>
			<string>20190510_性能测试知识.md</string>
		</array>
		<array>
			<string>20190510_接口测试相关知识.md</string>
		</array>
		<array>
			<string>20190510_持续集成方案.md</string>
		</array>
		<array>
			<string>20190514_CDH部署安装.md</string>
		</array>
		<array>
			<string>20190514_大数据学习之路.md</string>
		</array>
		<array>
			<string>20190514_大数据平台架构研发工作计划.md</string>
		</array>
		<array>
			<string>20190515_CDH与Hadoop版本.md</string>
		</array>
		<array>
			<string>20190515_Hadoop文档.md</string>
		</array>
		<array>
			<string>20190515_傅腾参考.md</string>
		</array>
		<array>
			<string>20190524_WordCount源码详解.md</string>
		</array>
		<array>
			<string>20190529_SQL注入漏洞修复.md</string>
		</array>
		<array>
			<string>2019-05-29.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>1ec1b7ef58fd345800efa35b9c182c642fa4f9fc76eda1df25416fae2d96523e</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
